@media (min-width: 1024px) { 
  #main {
    font-size: 1.2em;
  }

  .main-image {
    width: 80%;
  }

  .child {
    position: relative;
    top: 50%;
    height: 100vh;
    width: 100%;
    margin-top: -128px; /* account for padding and border if not using box-sizing: border-box; */
  }

  #main .imgBorder {
    position: relative;
    top: 50vh;
    transform: translateY(-50%);
  }
}